<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathM8</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/subscribe">Subscribe</a></li>
      </ul>
    <header>
        <h1>MATHM8</h1>
        <h2>Shaping the Future of AI-Driven Computational Mathematics</h2>
        <h2 class="ah2"><a href="/register">Get started</a></h2>
    </header>
    <div class="parallax"></div>

    <div class="abt">
        <h1>Why us?</h1>
        <h2>Experience the future of problem-solving with our cutting-edge AI, designed to tackle even the
            toughest computational and mathematical challenges. For just $3 a month, you’ll enjoy precise, step-by-step solutions delivered instantly—whether you type your
            questions or upload photos of problems. Our user-friendly platform ensures seamless, accurate assistance, making advanced tools accessible to everyone.
            Join thousands of users embracing smarter, faster, and more affordable problem-solving today!</h2>
    </div>
</body>
</html>
